target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Runtime artifacts (FIX demo sessions, logs, local certs)
/log/
/store/
/certs/
log/
store/
certs/
*.log
*.event.log
*.messages.log
*.session
*.body
*.header
*.senderseqnums
*.targetseqnums

customer.properties
*.private.properties
*.secret.properties
.idea/